.App {
  text-align: center;
}
.card {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
}
.container {
  padding: 2px 16px;
}
.closeContainer {
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  background: #d2afaf;
  padding: 5px;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  box-shadow: 3px 4px 11px 0 rgb(0 0 0 / 20%);
  color: white;
  cursor: pointer;
}

/* Calculator Css */
.calculatorContainer {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
  width: 300px;
  background: #82b6c1de;
  align-items: center;
  box-shadow: 3px 4px 11px 0 rgb(0 0 0 / 20%);
}
.rowBox {
  width: 50px;
  height: 50px;
  border: 1px solid #f0f0f0;
  margin: 10px;
  display: flex;
  flex: 1 1 auto;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rowBox:hover {
  background-color: #d2afaf;
}
.resultShowBox {
  flex: 0 0 100%;
  border: none;
}
.inputResults {
  width: 100%;
  height: 50px;
  border: none;
  background: #fbfbfb;
  margin: 0 9px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
}
